<?xml version="1.0" encoding="utf-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
      Name="NaxUpdater"
      Manufacturer="Naxterra"
      Version="$(ProductVersion)"
      UpgradeCode="{8FBDE00C-A255-4471-8F68-A077EB24D7FB}"
      Scope="perMachine"
      Language="!(loc.ProductLanguage)"
      InstallerVersion="500"
      Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" IgnoreLanguage="yes" Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" Sequence="execute" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="APPLICATIONFOLDER" Name="NaxUpdater" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="NaxUpdater" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="!(loc.MainFeatureTitle)" Description="!(loc.MainFeatureDescription)" Level="1" AllowAbsent="no" AllowAdvertise="no" InstallDefault="local" Display="expand">
      <Component Id="MainExecutable" Directory="APPLICATIONFOLDER" Guid="{3B09C804-67DF-4DB1-9D09-D180A89A37D6}">
        <File Id="NaxUpdaterExe" Source="!(bindpath.Publish)\NaxUpdater.exe" KeyPath="yes" />
      </Component>

      <Feature Id="StartMenuShortcutFeature" Title="!(loc.StartMenuFeatureTitle)" Description="!(loc.StartMenuFeatureDescription)" Level="1" AllowAbsent="yes" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install">
        <Component Id="NaxUpdaterStartMenuShortcutComponent" Directory="ProgramMenuDir" Guid="{C330B1A6-3429-4031-81E3-7E65DCDEDEF0}">
          <Shortcut Id="NaxUpdaterStartMenuShortcut" Name="NaxUpdater" Description="!(loc.ShortcutDescription)" Target="[APPLICATIONFOLDER]NaxUpdater.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="NaxUpdaterProductIcon.ico" />
          <RemoveFolder Id="RemoveNaxUpdaterProgramMenu" Directory="ProgramMenuDir" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Naxterra\NaxUpdater\Installer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Feature>

      <Feature Id="DesktopShortcutFeature" Title="!(loc.DesktopFeatureTitle)" Description="!(loc.DesktopFeatureDescription)" Level="1" AllowAbsent="yes" AllowAdvertise="no" InstallDefault="local" TypicalDefault="install">
        <Component Id="NaxUpdaterDesktopShortcutComponent" Directory="DesktopFolder" Guid="{7E7828AF-03B6-49A1-8140-CFC5C2208E95}">
          <Shortcut Id="NaxUpdaterDesktopShortcut" Name="NaxUpdater" Description="!(loc.ShortcutDescription)" Target="[APPLICATIONFOLDER]NaxUpdater.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="NaxUpdaterProductIcon.ico" />
          <RegistryValue Root="HKCU" Key="Software\Naxterra\NaxUpdater\Installer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Feature>

      <Component Id="ApplicationRegistration" Directory="APPLICATIONFOLDER" Guid="{F6060F0B-064B-4ABB-8484-8E5C15F3751D}">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\NaxUpdater.exe" Value="[APPLICATIONFOLDER]NaxUpdater.exe" Type="string" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\NaxUpdater.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />
      </Component>

      <Files Directory="APPLICATIONFOLDER" Include="!(bindpath.Publish)\**">
        <Exclude Files="!(bindpath.Publish)\NaxUpdater.exe" />
        <Exclude Files="!(bindpath.Publish)\**\*.pdb" />
      </Files>
    </Feature>

    <Icon Id="NaxUpdaterProductIcon.ico" SourceFile="!(bindpath.Publish)\Assets\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="NaxUpdaterProductIcon.ico" />
    <Property Id="ARPCOMMENTS" Value="!(loc.ArpComments)" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/Naxterra/Nax-Updater" />
    <Property Id="ARPHELPLINK" Value="https://github.com/Naxterra/Nax-Updater/issues" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="!(loc.ExitDialogText)" />

    <WixVariable Id="WixUILicenseRtf" Value="$(sys.SOURCEFILEDIR)License.rtf" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="APPLICATIONFOLDER" ExtendedPathValidation="yes" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Package>
</Wix>
